:root {
  // --border-color: #6C6E62;
  --border-color: #A7AC9B;
  --background-color: #ebe9d8;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

footer {
  height: 50px;
  border-color: var(--border-color);
  border-width: 1px 0 0;
  border-style: solid;
  padding: 8px;
}

main {
  display: flex;
  flex: 1;
}

aside {
  width: 60px;
  height: 100%;
  border-color: var(--border-color);
  border-width: 0 1px 0;
  border-style: solid;
}

canvas {
  flex: 1;
  background-color: white;
}
